body{
  background-color:black;
}
h1{
  color:white;
  display:inline-block;
  padding: 9px;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient( 90deg, #d0fcfd 30%, #0cccfd );
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: 'Righteous', serif;
}
p, h2, li{
  color:#acacac;
  font-family: 'Arimo', sans-serif;
}
a{
  color:#00acd5;
}
li li{
  color:red;
}
.center{
  text-align: center;
}
.blue{
  color:blue;
}
.large{
  font-size:large;
}
.allcaps{
  text-transform: capitalize;
}
.fonted{
  font-family:fantasy;
}
.absolutely-low{
  position:absolute;
  left:50px;
  top: 2000px;
  padding: 40px;
  margin: 40px;
  border:40px;
  content: normal;
}
.fixed{
  position: fixed;
  left:0px;
  top:0px;
}
.relative{
  position:relative;
  left:10px;
  top:10px;
}
